$light-theme: #ffffff;
$background-primary: #393939;

$accent-color-light: #ffec00; // lang, tooltip, nav, divider
$accent-color-details: #908720;
$skew-background: #e8e439;
$skew-background-secondary: #d7d7d7;

$text-dark: #3b3b3b;
$text-dark-secondary: #a1a1a1;


$image-frame: #545454;

$experience-card: #d3d1d1;
$experience-card-hover: #f1f1f1;

$socials: #848383;;

$Desktop: '(min-width: 960px)';
$Tablet: '(min-width: 600px)';

